* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Microsoft YaHei', 'Helvetica', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

/*按钮部分*/
.btn {
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    line-height: 2.3em;
    color: white;
    font-size: 1em;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-left: 0;
    text-align: center;
    display: block;
    position: relative;
}

.btn:active {
    top: 3px;
    border-bottom-width: 1px;
}

.btn.warning-btn {
    background-color: #fdc018;
    border-bottom-color: #b07208;
}

.btn.error-btn {
    background-color: #b9244d;
    border-bottom-color: #7e2e44;
}

/*第一页*/
.main-bg {
    width: 100%;
    height: 100%;
    background: url("../img/main-bg.png") no-repeat fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.host {
    width: 100%;
    height: 100%;
    position: absolute;
}

.host.host-1 {
    z-index: 1;
    background: url("../img/host-lw.png") no-repeat bottom center;
    background-size: auto 100%;
}

.host.host-2 {
    z-index: 2;
    background: url("../img/host-fjy.png") no-repeat bottom center;
    background-size: auto 100%;
}

.host.host-3 {
    z-index: 3;
    background: url("../img/explod-overlay.png") no-repeat bottom center;
    background-size: auto 100%;
}

.host.host-4 {
    z-index: 4;
    background: url("../img/host-lwj.png") no-repeat bottom center;
    background-size: auto 100%;
}

.main-bg .brand-logo {
    width: 55%;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 100px;
}

.main-bg .xydzp {
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    bottom: 35px;
}

.main-bg .arrow-up {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 6;
}

.main-bg .turntable {
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -300px;
    z-index: 5;
}

/*单选框*/

.radio-box {
    width: 84px;
    height: 35px;
    border-radius: 4px;
    background-color: #b9244d;
    position: relative;
    transition: all .3s
}

.radio-box * {
    transition: all .3s
}

.radio-box.checked {
    background-color: #139eff;
}

.radio-box .handler {
    width: 40px;
    border-radius: 2px;
    height: 31px;
    position: absolute;
    top: 2px;
    left: 42px;
    background-color: #ebebeb;
    color: #b9244d;
    font-size: 1.2em;
    line-height: 31px;
    text-align: center;
}

.radio-box.checked .handler {
    left: 2px;
    color: #139eff;
}

section.form .block input[type=checkbox] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

/*遮罩层*/
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .8;
    z-index: -1;
}

/*登记表单*/
.mask-content header {
    width: 80%;
    margin: 40px auto;
}

.mask-content header h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 900;
}

.mask-content header small {
    font-size: .4em;
    color: white;
    opacity: .8;
}

section.form {
    width: 80%;
    margin: 0 auto 40px;
}

section.form .block {
    margin-bottom: 20px;
}

section.form .block label {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
}

section.form .block input[type=text],
section.form .block input[type=number] {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
}